<!DOCTYPE html>
<html>
<head>
  <title>Timetracking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("Contact Me", contact_path) %></li>
      <li><%= link_to("Projects", projects_path) %></li>
    </ul>
  </nav>
  <%= flash_message %>
  <%= yield %>
</body>
</html>
